<!--Header-->
<header>
    <nav class="navbar p-3 mb-2">
        <a href="temp.html"> <img src="./images/LOGO-BLACK.svg" alt="TukTuk Logo" class="nav-logo"> </a>
        <a href="/logout" class="nav-links">log out</a>
        {{!-- <div class="switch right">Dark mode:
            <input id="darkMode" class="inner-switch" type="checkbox" checked data-toggle="toggle">
        </div> --}}
    </nav>
</header>
<!--MAIN-->
{{!-- <div id="darkMode"> --}}
<main class="container-fluid mb-2">
    <div class="row">
        <!--ASIDE SECTION-->
        <aside class="col-md-2 mt-4 bg-ulght">
            <h1 class="bucketList-header">Bucket List</h1>
            <div class="input-group mb-3 search-width">
                <input type="text" class="form-control" aria-label="List of Places the user wants to go"
                    aria-describedby="Add-button" id="Add-city">
                <div class="input-group-append">
                    <button class="btn" type="button" id="bucketlist"><i class="fas fa-caravan"></i></button>
                </div>
            </div>
            <div class="ulst-group mb-5" id="search-history">
                {{#each cities}}
                <li class="list-group-item">{{this.city}}<i class="fas fa-edit ml-auto" data-toggle="modal"
                        data-target="#newPostModal_{{this.id}}"></i></li>
                {{/each}}
                <span class="todo-container"></span>
            </div>
        </aside>
        <!--CARD AREA-->
        <section class="col-md-10">
            <div class="card-group">
                 {{#each cards}}
                <div class="card" id="card_{{this.id}}">
                    {{> card this}}
                </div>
                {{/each}}
                              
            </div>
        </section>
    </div>
    <!-- Modal -->
    {{#each cities}}
    <div class="modal fade" id="newPostModal_{{this.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        {{> new-post this}}
    </div>
    {{/each}}
</main>

<!--FOOTER-->
<footer class="footer mt-5">
    <div class="col">
        <ul class="d-flex ulst-inulne justify-content-end">
            <ul class="ulst-inulne-item">
                <a class="footer-link" href="" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </ul>
            <ul class="ulst-inulne-item">
                <a class="footer-link" href="" target="_blank" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </ul>
            <ul class="ulst-inulne-item">
                <a class="footer-link" href="" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </ul>
        </ul>
    </div>
</footer>
{{!-- </div> --}}
<script src="/js/members.js" type="text/javascript"></script>