.nav-logo {
  width: 60px;
  margin-left: 15px;
  margin-top: 15px;
}

.nav-links {
  font-family: azo-sans-web,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 20px;
  
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #63EAC0;
}
.bucketList-header {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -2px;
}
.btn {
  background-color: #63EAC0;
}
#newPostForm .btn {
  background-color: #CCCCCC;
}
h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -2px;
}
h5 {
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.footer {
  padding: .5rem 0;
  color: #999;
  text-align: center;
  background-color: #282C34;
  border-top: .05rem solid #e5e5e5;
}
.footer-link, .footer-link:link,.footer-link:visited,.footer-link:hover {
 color: white;

}
.list-group-item {
  display: flex;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}

.modal-content {
height: 100%;
}

@media (min-width: 980px) {
 .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}

@media (max-width: 640px) {
  .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}