.nav-logo {
  width: 60px;
  margin-left: 15px;
  margin-top: 15px;
}
.card {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 300px;
    max-width: 100%;
}
.nav-links {
  font-family: azo-sans-web,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 20px;
  }
.nav-links1 {
  font-family: azo-sans-web,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 20px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #63EAC0;
}
.bucketList-header {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -2px;
  color: #282C34;
}
.btn {
  background-color: #63EAC0;
}
 #newPostForm .btn{
  background-color: #CCCCCC;
}
#newPostForm #close-btn {
  background-color: black;
}
#newPostForm #submit-btn {
  background-color: #63EAC0;
}
h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -2px;
}
h5 {
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.footer {
  padding: .5rem 0;
  color: #999;
  text-align: center;
  background-color: #282C34;
  border-top: .05rem solid #e5e5e5;
}
.footer-link, .footer-link:link,.footer-link:visited,.footer-link:hover, .nav-links1:hover {
 color: white;

}
.list-group-item {
  display: flex;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  background-color: white;
}

.modal-content {
height: 100%;
}

@media (min-width: 980px) {
 .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}

@media (max-width: 640px) {
  .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 900px;
    min-height: 60vh;
    }
}
.topPick {
  background-image: url(../images/pink-india.jpg);
  /* background-image: url(../images/CityofGod.jpg); */
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  max-width: 100%;
  /* z-index: -1; */
  min-height: auto;
}
h1 { 
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  letter-spacing: -10px;
  color: white;
  margin: 0px;
  text-align: center;
}
.logo2{
  width: 200px;
  
}
.tukSection{
  text-align: center;
}
p{
  margin-bottom: 0px;
  font-size: 25px;
}
#Subscribe-area {
  text-align: center;
  font-family: azo-sans-web,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.shareJourney, .centered-area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-area{
  width: 350px;
}
.sign-up {
  background-color: white;
  border-radius: 0px;
  text-align: center;
 }
 
 /*======TOGGLE BUTTON=============*/
 /* The switch - the box around the slider */
 /*
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/*
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/*
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/*
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
*/
/*
.dark * {
    background: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
*/
@media only screen and (min-width: 991px) {
  .shareJourney{
    line-height: 113px;
  }
  
}

@media only screen and (max-width: 991px) {
  .topPick {
    background-image: url(../images/ForMobile.svg);
  }
  .shareJourney{
    font-size: 6rem;
  }

}
